/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1200px;
}
.step {
  margin-bottom: 1rem;
}
textarea,
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
table {
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 8px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: left;
}
th {
  background-color: #e5e7eb;
  font-weight: bold;
}
